@model AmazingRace_CodeFirst.Models.Staff

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Staff</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.StaffCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StaffCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StaffName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StaffName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TeamStaff)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TeamStaff)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.StaffID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
